* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    background: #999;
    padding: 20px;
}

#form input {
    width: 100%;
    padding: 6px;
    margin-bottom: 10px;
}

#form input[type="submit"] {
background: #666;
color: white;
border: 0;
}
